/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */

/* цвет текста контактов 
в подвале rgba(255, 255, 255, 0.6) */

/* акцентированный цвет #2196F3 */
/* акцентированный белый и фон хедер #FFFFFF */

/* bgc основной #E5E5E5 */
/* bgc вторичный #F5F4FA */
/* bgc footer #2F303A*/

/* ПЕРЕМЕННЫЕ */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;

  --primary-bgc: #e5e5e5;
  --secondary-bgc: #f5f4fa;
  --bgc-accent-white: #ffffff;
  --bgc-footer: #2f303a;
}

/* СБРОС СТИЛЕЙ */
body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ОБЩИЕ СТИЛИ */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
header {
  background-color: var(--bgc-accent-white);
}

header > .container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 86px;

  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

header .logo-part {
  color: var(--secondary-text-color);
}

.nav-list {
  display: flex;
}

.nav-link {
  display: block;
  padding: 32px 0;
  margin-right: 50px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
}

.feedback-list {
  display: flex;
  margin-left: auto;
}

.feedback-list > li:first-child {
  margin-right: 50px;
}

.feedback-header {
  color: var(--primary-text-color);
}

.feedback-header:hover,
.feedback-header:focus {
  color: var(--accent-color);
}

/* СТИЛИ СЕКЦИЙ */
.section {
  padding: 94px 0;
}

/* FOOTER */
footer {
  color: var(--bgc-accent-white);
  background-color: var(--bgc-footer);
}

.footer-list {
  display: flex;
}

/* ПОДСЕКЦИЯ ОБРАТНАЯ СВЯЗЬ */
.feedback-info {
  margin-top: 48px;
  margin-right: 180px;
  margin-bottom: 28px;
}

/* логотип */
.feedback-info > .logo {
  margin-bottom: 10px;
}

footer .logo-part {
  color: var(--bgc-accent-white);
}

/* адрес */
.feedback-info > p {
  margin-bottom: 9px;
}

/* телефон и почта */
.feedback-info > ul > li:first-child {
  margin-bottom: 9px;
}

.feedback-footer {
  color: rgba(255, 255, 255, 0.6);
}
.feedback-footer:hover,
.feedback-footer:focus {
  color: var(--accent-color);
}

/* ПОДСЕКЦИЯ ПРИСОЕДИНЯЙТЕСЬ */
.join-in {
  margin-top: 56px;
  margin-right: 102px;
}

.join-in > p {
  margin-bottom: 21px;
}

.social-footer {
  display: flex;
}

.social-footer > li:not(:last-child) {
  margin-right: 11px;
}

.social-icon {
  display: inline-block;
  width: 44px;
  height: 44px;

  text-align: center;
  font-weight: 700;
  font-size: 26px;

  color: var(--bgc-accent-white);
  background-color: lightblue;
  border: 1px solid var(--accent-color);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);
}

/*СЕКЦИЯ КОПИРАЙТ */
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;

  font-size: 12px;
  line-height: 2;

  color: rgba(255, 255, 255, 0.4);
}
